extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    h2= title
    #mainContent
        #controls
            #removeMovies.btnDefault
                i(class="fas fa-trash")
                p Remove Movies
        ul#entries

    
    script(src="/javascripts/modules/main/indexMain.js" type="module")