extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    h2= title
    #mainContent
        #controls
            #removeMovies.btnDefault
                i(class="fas fa-trash")
                p Remove Movies
            #cancelConfirm
                #btnCancel.btnDefault
                    i(class="fas fa-times")
                    p Cancel
                #btnConfirm.btnDefault
                    i(class="fas fa-check")
                    p Confirm
                
        #bigSearch
            h2 It looks like you don't have any movies saved in your list! Use the search field below to search for a movie
            input(type="text" id="inputBigSearch" placeholder="Search for a movie...")
            button(id="btnBigSearch") Go
        
        ul#entries

    
    script(src="/javascripts/modules/main/indexMain.js" type="module")
    script(src="/javascripts/modules/functions/bigSearchInput.js" type="module")