extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    h2= title
    #mainContent
        #controls
            #removeMovies.btnDefault
                i(class="fas fa-trash")
                p Remove Movies
            #cancelConfirm
                #btnCancel.btnDefault
                    i(class="fas fa-times")
                    p Cancel
                #btnConfirm.btnDefault
                    i(class="fas fa-check")
                    p Confirm
                
        ul#entries

    
    script(src="/javascripts/modules/main/indexMain.js" type="module")