doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    header
      h1 Cinetally
      #profile
        button(id="btnLogOut") Log Out
    block content
