extends layout

block content
    link(rel='stylesheet', href='/stylesheets/search.css')
    h2= title
    #mainContent
        #bigSearch
            input(type="text" id="inputBigSearch" placeholder="query" style="font-size:18px" value=`${query}`)
            button(id="btnBigSearch") Go
        ul#entries
        each element in movieList
            li= element.Title
    
    script(src="/javascripts/modules/main/searchMain.js" type="module")