#mainContent {
    border: solid rgb(204, 204, 204) 1px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 5px;
    overflow: auto;
    min-height: 1000px;
}

#controls {
    height: 40px;
    border-bottom: 1px solid black;
    padding: 2%;
    overflow: none;
}

.btnDefault {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    float: left;
    border: 1px solid rgb(204, 204, 204);
}

.btnDefault p, .btnDefault i{
    display: inline-block;
    margin: 0;
}

.btnDefault p {
    margin-left: 4px;
}

.btnDefault:hover {
    background-color: rgb(238, 238, 238);
}

#cancelConfirm {
    float: right;
    width: 180px;
    display: none;
}

#btnConfirm {
    background-color: rgb(0, 202, 0);
    float: right;
}

#btnConfirm:hover {
    background-color: rgb(0, 167, 0);
}

#btnCancel {
    background-color: rgb(255, 41, 41);
}


#btnCancel:hover {
    background-color: rgb(209, 0, 0);
}

#entries {
    list-style-type: none;
    margin: 0px 5px 0px 5px;
    margin: 0 auto;
    width: 70%;
    
}

#entries li{
    list-style-type: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    display: block;
    width: 90%;
    margin-bottom: 10px;
}

#entries li img {
    width: 20%;
    display: inline-block;
}

#entries a {
    cursor: pointer;
    display: block;
    padding: 10px;
    
}

#entries a:hover {
    background-color: rgb(235, 235, 235);
}

.yearTitle {
    float: right;
    width: 77%;
    padding: 1%;
    padding-left: 1.5%;
}

.yearTitle h3 {
    margin-top: 2%;
}

.yearTitle p{
    margin-top: 2%;
}