body {
  font-size: 16px;
  margin: 0px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 4em;
  
}

h2 {
  font-size: 2em;
}

header {
  height: 20%;
}
