body {
  font-size: 16px;
  margin: 0px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  background-color:rgb(238, 238, 238);
}

a {
  color: black;
}

h1 {
  font-size: 4em;
  margin: 0;
  display: inline-block;
}

h2 {
  font-size: 2em;
  text-align: center;
}

/**-----HEADER-----*/

header {
  height: 20%;
  border-bottom: solid rgb(204, 204, 204) 1px;
  background-color: #ffffff;
  padding: 1%;
}

#searchandprofile {
  float: right;
  width: 380px;
}

#search {
  float: left;
  padding: 14px;
}

#profile {
  float: right;
  display: block;
}

#btnLogOut {
  float: right;
}

/**----- Button -----*/

.btnDefault {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  float: left;
  border: 1px solid rgb(204, 204, 204);
}

.btnDefault p, .btnDefault i{
  display: inline-block;
  margin: 0;
}

.btnDefault p {
  margin-left: 4px;
}

.btnDefault:hover {
  background-color: rgb(238, 238, 238);
}


  

