#mainContent {
    border: solid rgb(204, 204, 204) 1px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 5px;
    overflow: auto;
    padding: 2%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#mainContent a {
    display: block;
    margin-bottom: 2%;
    color: rgb(70, 70, 255);
}

.btnAddMovie {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    float: left;
    border: 1px solid rgb(204, 204, 204);
}

.btnAddMovie p, .addMovie i{
    display: inline-block;
    margin: 0;
}

.btnAddMovie p {
    margin-left: 4px;
}

.btnAddMovie:hover {
    background-color: rgb(238, 238, 238);
}

.btnWatched {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    background-color: #ffffff;
    margin-left: 2%;
}

.btnWatched p, .btnWatched i{
    display: inline-block;
    margin: 0;
}

.btnWatched p {
    margin-left: 4px;
}

.btnWatched:hover {
    background-color: rgb(238, 238, 238);
}

.rating {
    float: right;
    width: 10%;
}

#mainContent h2 {
    text-align: left;
    margin-top: 0;
}

#movie img {
    width: 20%;
}

#movieInfo {
    float: right;
    width: 80%;
    height: 100%;
    padding: 0% 0% 0% 2%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#movieInfo p {
    margin-top: 0;
}

#cast {
    margin-bottom: 0;
}