#mainContent {
    border: solid rgb(204, 204, 204) 1px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 5px;
    padding-top: 40px;
    overflow: auto;
}

#bigSearch {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

#inputBigSearch {
    width: 85%;
    height: 40px;
}

#btnBigSearch {
    width: 13%;
    height: 45px;
}

#entries {
    list-style-type: none;
    margin: 0px 5px 0px 5px;
    margin: 0 auto;
    width: 70%;
    
}

#entries li{
    list-style-type: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    display: block;
    width: 90%;
    margin-bottom: 10px;
}

#entries li img {
    width: 20%;
    display: inline-block;
}

#entries a {
    cursor: pointer;
    display: block;
    padding: 10px;
    
}

#entries a:hover {
    background-color: rgb(235, 235, 235);
}

.yearTitle {
    float: right;
    width: 77%;
    padding: 1%;
    padding-left: 1.5%;
}

.yearTitle h3 {
    margin-top: 2%;
}

.yearTitle p{
    margin-top: 2%;
}

.addMovie {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-top: -5%;
    border: 1px solid rgb(204, 204, 204);
}

.addMovie:hover {
    background-color: #ffffff;
    
}

.addMovie p, .addMovie i{
    display: inline-block;
    margin: 0;
}

.addMovie p {
    margin-left: 4px;
}